# Spring profile
SPRING_PROFILES_ACTIVE=dev

# External IP intelligence API
IP_INTELLIGENCE_API_KEY=

# PostgreSQL configuration
POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/ip_check_db
POSTGRES_DB_USERNAME=postgres
POSTGRES_DB_PASSWORD=postgres